* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

:root {
    --black-color: #1c2606;
    --dark-color: #445817;
    --primary-color: #748b29;
    --light-color: #babf3d;
    --white-color: #f2f2f2;
}

/* Navbar */
.navbar{
    display: flex;
    background-color: var(--white-color);
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}
.image{
    width: 70px;
}
.main-menu{
    width: 50%;
    display: flex;
    justify-content:space-between;
}
.main-menu a{
    text-decoration: none;
    color: var(--dark-color);
    font-size: 1.1rem;
}
.main-menu a:hover{
    transition-duration: 0.4s;
    color: var(--light-color)
}

/* Sort */
.sort{
    margin: 20px 0px 0px;
    display: flex;
    flex-direction: column;
}
.heading{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-bottom: 5px;
}
.line{
    border: 1.2px solid black;
    width: 65px;
}
.sort h1{
    font-size: 1.2rem;
    color: var(--black-color);
}
.general, .specific{
    display: flex;
    justify-content: start;
    margin-left: 30px;
}
.general button, .specific button{
    border: none;
    text-decoration: none;
    font-size: 0.8rem;
    background: var(--light-color);
    padding: 8px;
    border-radius: 10px;
    margin: 8px 3px 0px;
}

/* Attractions */
.attractions{
    margin: 40px auto 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.container{
    width: 300px;
    background: var(--light-color);
    margin: 20px auto 0px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.img{
    object-fit: cover;
    height: 170px;
    width: 100%;
    margin: 0px auto 0px;
}
.name{
    font-size: 1.4rem;
    font-weight: bold;
    margin: 10px auto 10px;
    color: var(--dark-color)
}
.distance, .type, .review{
    margin-left: 10px;
    font-size: 1.1rem;
    color: var(--primary-color);
    font-weight: bold;
}
.link{
    font-size: 1.2rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    background: var(--dark-color);
    margin: 10px auto 20px;
    width: 80%;
}

/* Breakpoints */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .main-menu{
        width: 40%;
    }
    .navbar{
        height: 100px;
    }
    .main-menu a{
        font-size: 1.3rem;
    }
    .image{
        width: 80px;
    }
    .sort{
        margin-left: 20%;
    }
    .attractions{
        width: 580px;
        flex-direction: row;
    }
    .container{
        width: 45%;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .main-menu{
        width: 30%;
    }
    .general button, .specific button{
        font-size: 1rem;
        padding: 10px;
    }
    .heading h1{
        font-size: 1.6rem;
    }
    .heading div{
        width: 90px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .main-menu{
        width: 25%;
    }
    .attractions{
        width: 990px;
    }
    .container{
        width: 31%;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .main-menu{
        width: 20%;
    }
    .attractions{
        width: 1400px;
    }
    .container{
        width: 23%;
    }
}
